body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: #1a62c0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.weather-container{
    background: rgba(255,255,255,0.3);
    max-width: 400px;
    padding: 20px;
    backdrop-filter: blur(10px);
    border-radius: 15px;
    text-align: center;
    border: 1px solid rgba(255,255,255,0.1);
    box-shadow: 0 8px 32px rgba(0,0,0,0.1);

}

h2, label, p{
    color: white;
    margin: 8px 0;
}

#city{
    width: calc(100% - 16px);
    padding: 8px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 10px;
    border: 1px solid white;
}

.btn{
    background: #bfc9f4;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
    cursor: pointer;
    font-size: 15px;
    width: 100px;
}

.btn:hover{
    background: #1a62c0;
}

.weather-icon{
    width: 200px;
    height: 200px;
    margin: 0 auto 10px;
    margin-bottom: 0;
    display: none;
}

.temperature-container p{
    font-size: 60px;
    margin-top: -30px;
}


.weather-info{
    font-size: 20px;
}

.hourly-forecast{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
    overflow-x: auto;


}

.hourly-forecast::-webkit-scrollbar{
    display: none;
}

.hourly-item{
    flex: 0 0 auto;
    width: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 10px;
    color: white;
    align-items: center;
}

.hourly-item img{
    width: 30px;
    height: 30px;
    margin-bottom: 5px;
}

.hourly-heading{
    color: #FFF;
    margin-top: 10px;
}